<!DOCTYPE html>
<html lang="en" data-ng-app="website">
	<head>
		<meta charset="utf-8">
		<title>soscitizen</title>
		<link rel="SHORTCUT ICON" href="./mt-demo/mt-content/uploads/2017/01/mt-0795-favicon.ico?_build=1548500568" type="image/vnd.microsoft.icon" />
		<link rel="canonical" href="https://template59441.motopreview.com/" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./mt-includes/css/assets.min.css?_build=1545832253"/>
		<style>
			@import url(//fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic|Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic|Roboto+Slab:100,300,regular,700&subset=latin,latin-ext,greek,cyrillic,cyrillic-ext,greek-ext,vietnamese);
		</style>
		<link rel="stylesheet" href="./mt-demo/mt-content/assets/styles.css?_build=1546122200" id="moto-website-style"/>
	</head>
	<body class="moto-background">
		<div class="page">
			<header id="section-header" class="header moto-section" data-widget="section" data-container="section">
				<div class="moto-widget moto-widget-container moto-background-fixed moto-container_header_58630b9f4" data-widget="container" data-container="container" data-css-name="moto-container_header_58630b9f4">
					<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="aaaa">
						<div class="container-fluid">
							<div class="row">
								<div class="moto-cell col-sm-12" data-container="container">
									<div class="moto-widget moto-widget-row" data-widget="row">
										<div class="container-fluid">
											<div class="row">
												<div class="moto-cell col-sm-4" data-container="container"></div>
												<div class="moto-cell col-sm-4" data-container="container">
													<div class="moto-widget moto-widget-container moto-container_header_586433c01" data-widget="container" data-container="container" data-css-name="moto-container_header_586433c01">
														<div data-widget-id="wid__spacer__5c4c48e94d9df" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
															data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
															<div class="moto-widget-spacer-block" style="height:30px"></div>
														</div>
														<div class="moto-widget moto-widget-row moto-justify-content_center row-gutter-0 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="row" data-spacing="mama" data-grid-type="xs">
															<div class="container-fluid">
																<div class="row">
																	<div class="moto-cell col-xs-5" data-container="container">
																		<div class="moto-widget moto-widget-row moto-justify-content_center" data-widget="row" data-draggable-disabled="">
																			<div class="container-fluid">
																				<div class="row">
																					<div class="moto-cell col-sm-12" data-container="container">
																						<div data-widget-id="wid__image__5c4c48e94deff" class="moto-widget moto-widget-image moto-preset-default moto-align-right moto-align-center_tablet moto-align-right_mobile-h moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
																							<a class="moto-widget-image-link moto-link" href="/"   data-action="page">
																							<img data-src="./mt-demo/mt-content/uploads/2016/12/mt-0795-home-site-logo.png" class="moto-widget-image-picture lazyload" data-id="147" title="" alt="">
																							</a>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="moto-cell col-xs-7" data-container="container">
																		<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="asaa">
																			<div class="moto-widget-text-content moto-widget-text-editable">
																				<p class="moto-text_system_1"><span style="font-size:18px;"></span><a href="/" data-action="page" data-id="1" class="moto-link"><span style="font-size:18px;">soscitizen</span><br><span style="font-size:18px;"></span></a><span style="font-size:18px;"></span></p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div data-widget-id="wid__spacer__5c4c48e94e674" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
															data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
															<div class="moto-widget-spacer-block" style="height:45px"></div>
														</div>
													</div>
												</div>
												<div class="moto-cell col-sm-4" data-container="container"></div>
											</div>
										</div>
									</div>
									<div data-widget-id="wid__menu__5c4c48e94f4f3" class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-widget="menu">
										<a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
										<ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
											<li class="moto-widget-menu-item">
												<a href="/"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">HOME</a>
											</li>
											<li class="moto-widget-menu-item">
												<a href="/about/"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">ABOUT US</a>
											</li>
											<li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
												<a href="/our-portfolio/"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">OUR PORTFOLIO<span class="fa moto-widget-menu-link-arrow"></span></a>
												<ul class="moto-widget-menu-sublist">
													<li class="moto-widget-menu-item">
														<a href="/about/"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">About Us</a>
													</li>
													<li class="moto-widget-menu-item">
														<a href="/news-info/"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">News &amp; Info</a>
													</li>
													<li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
														<a href="/history/"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">History<span class="fa moto-widget-menu-link-arrow"></span></a>
														<ul class="moto-widget-menu-sublist">
															<li class="moto-widget-menu-item">
																<a href="/events/"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">Events</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="moto-widget-menu-item">
												<a href="/news-info/"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">NEWS &amp; INFO</a>
											</li>
											<li class="moto-widget-menu-item">
												<a href="/contacts/"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">CONTACTS</a>
											</li>
										</ul>
									</div>
									<div data-widget-id="wid__spacer__5c4c48e951765" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_tablet"
										data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="tablet">
										<div class="moto-widget-spacer-block" style="height:130px"></div>
									</div>
									<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa">
										<div class="moto-widget-text-content moto-widget-text-editable">
											<p class="moto-text_system_4" style="text-align: center;">Providing appropriate health care for adults, seniors and children</p>
											<p class="moto-text_system_4" style="text-align: center;"><br></p>
											<p class="moto-text_263" style="text-align: center;">Do you have anybody to talk to?</p>
										</div>
									</div>
									<div data-widget-id="wid__spacer__5c4c48e95188e" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_tablet"
										data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="tablet">
										<div class="moto-widget-spacer-block" style="height:10px"></div>
									</div>
									<div data-widget-id="wid__spacer__5c4c48e9519a5" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto "
										data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
										<div class="moto-widget-spacer-block" style="height:30px"></div>
									</div>
									<div data-widget-id="wid__button__5c4c48e951f02" class="moto-widget moto-widget-button moto-preset-2 moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="button">
										<a href="/our-portfolio/"   data-action="page" class="moto-widget-button-link moto-size-large moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">LEARN MORE</span></a>
									</div>
									<div data-widget-id="wid__spacer__5c4c48e9520d5" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto "
										data-widget="spacer" data-preset="default" data-spacing="lala" data-visible-on="mobile-v">
										<div class="moto-widget-spacer-block" style="height:50px"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<section id="section-content" class="content page-1 moto-section" data-widget="section" data-container="section">
				<div class="moto-widget moto-widget-row" data-widget="row">
					<div class="container-fluid">
						<div class="row">
							<div class="moto-cell col-sm-12" data-container="container">
								<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
									<div class="moto-widget-spacer-block" style="height:30px"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="aaaa">
					<div class="container-fluid">
						<div class="row">
							<div class="moto-cell col-sm-6" data-container="container">
								<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
									<div class="moto-widget-text-content moto-widget-text-editable">
										<p class="moto-text_system_5">Making your life easier</p>
										<p class="moto-text_normal"><br></p>
										<p class="moto-text_normal">We are one of the leading providers of domiciliary care and health care staffing services.<br></p>
										<p class="moto-text_normal"><br></p>
										<p class="moto-text_system_10">Whether you’re in need of short term relief in the form of respite care or a more permanent care arrangement for a loved one or yourself, our caregivers can help make life easier.<br></p>
										<p class="moto-text_system_10"><br></p>
										<p class="moto-text_system_10">Find out how we tailor our services to meet your individual needs for in-home care by contacting us today.</p>
									</div>
								</div>
								<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
									<div class="moto-widget-spacer-block" style="height:20px"></div>
								</div>
								<div data-widget-id="wid__button__5c4c48e952849" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-align-center_mobile-v moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="button">
									<a href="/our-portfolio/"   data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">READ MORE</span></a>
								</div>
								<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
									<div class="moto-widget-spacer-block" style="height:30px"></div>
								</div>
							</div>
							<div class="moto-cell col-sm-6" data-container="container">
								<div class="moto-widget moto-widget-row" data-widget="row">
									<div class="container-fluid">
										<div class="row">
											<div class="moto-cell col-sm-6" data-container="container">
												<div data-widget-id="wid__image__5c4c48e9529cb" class="moto-widget moto-widget-image moto-preset-default moto-align-center_mobile-v moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="image">
													<span class="moto-widget-image-link">
													<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-making-item1_58738ca12abdc.jpg" class="moto-widget-image-picture lazyload" data-id="231" title="" alt="">
													</span>
												</div>
												<div data-widget-id="wid__image__5c4c48e952b7f" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="image">
													<span class="moto-widget-image-link">
													<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-making-item3.jpg" class="moto-widget-image-picture lazyload" data-id="200" title="" alt="">
													</span>
												</div>
											</div>
											<div class="moto-cell col-sm-6" data-container="container">
												<div data-widget-id="wid__image__5c4c48e952d1d" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="image">
													<span class="moto-widget-image-link">
													<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-making-item2.jpg" class="moto-widget-image-picture lazyload" data-id="199" title="" alt="">
													</span>
												</div>
												<div data-widget-id="wid__image__5c4c48e952eba" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="image">
													<span class="moto-widget-image-link">
													<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-making-item4.jpg" class="moto-widget-image-picture lazyload" data-id="201" title="" alt="">
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
									<div class="moto-widget-spacer-block" style="height:10px"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="moto-widget moto-widget-container moto-container_content_586328d21" data-widget="container" data-container="container" data-css-name="moto-container_content_586328d21">
					<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="row" data-spacing="lala">
						<div class="container-fluid">
							<div class="row">
								<div class="moto-cell col-sm-12" data-container="container">
									<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
										<div class="moto-widget-text-content moto-widget-text-editable">
											<p class="moto-text_system_5">Our mission</p>
											<p class="moto-text_normal"><br></p>
											<p class="moto-text_normal">Our number one goal is to make your life easier. We are focused on a new level of quality and reliability at reasonable prices. All of our nanny, babysitting, child care and senior care companion caregivers are experienced and pass through our extensive screening process.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="moto-widget moto-widget-container moto-container_content_58632a7e2" data-widget="container" data-container="container" data-css-name="moto-container_content_58632a7e2">
					<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="laaa">
						<div class="container-fluid">
							<div class="row">
								<div class="moto-cell col-sm-12" data-container="container">
									<div class="moto-widget moto-widget-container" data-widget="container" data-container="container" data-css-name="moto-container_content_5863320b9">
										<div class="moto-widget moto-widget-row" data-widget="row">
											<div class="container-fluid">
												<div class="row">
													<div class="moto-cell col-sm-12" data-container="container">
														<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
															<div class="moto-widget-text-content moto-widget-text-editable">
																<p class="moto-text_system_5"><span class="moto-color5_5">Social work professionals</span></p>
																<p class="moto-text_206"><br></p>
																<p class="moto-text_206 moto-text_normal"><span class="moto-color3_3">Is your loved one living with a chronic condition, recovering from illness, or simply in need of daily assistance?</span></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-draggable-disabled="" data-spacing="laaa">
						<div class="container-fluid">
							<div class="row">
								<div class="moto-cell col-sm-6" data-container="container">
									<div class="moto-widget moto-widget-container moto-container_content_58632d5d1" data-widget="container" data-container="container" data-css-name="moto-container_content_58632d5d1">
										<div class="moto-widget moto-widget-row row-gutter-0" data-widget="row" data-grid-type="sm">
											<div class="container-fluid">
												<div class="row">
													<div class="moto-cell col-sm-6" data-container="container">
														<div data-widget-id="wid__image__5c4c48e9530f1" class="moto-widget moto-widget-image moto-preset-default moto-align-left moto-align-center_mobile-v moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
															<span class="moto-widget-image-link">
															<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-social-item1.jpg" class="moto-widget-image-picture lazyload" data-id="203" title="" alt="">
															</span>
														</div>
													</div>
													<div class="moto-cell col-sm-6" data-container="container">
														<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
															<div class="moto-widget-spacer-block" style="height:20px"></div>
														</div>
														<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium" data-widget="text" data-preset="default" data-spacing="ammm">
															<div class="moto-widget-text-content moto-widget-text-editable">
																<p class="moto-text_system_6">Mary Stewart</p>
																<p class="moto-text_system_6"><br></p>
																<p class="moto-text_system_12">Mary is a skilled dermatologist with more than 10 years of practical experience. She began her career of skin specialist at Los Angeles</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="moto-cell col-sm-6" data-container="container">
									<div class="moto-widget moto-widget-container moto-container_content_58632f984" data-widget="container" data-container="container" data-css-name="moto-container_content_58632f984" data-draggable-disabled="">
										<div class="moto-widget moto-widget-row row-gutter-0" data-widget="row" data-draggable-disabled="">
											<div class="container-fluid">
												<div class="row">
													<div class="moto-cell col-sm-6" data-container="container">
														<div data-widget-id="wid__image__5c4c48e95329e" class="moto-widget moto-widget-image moto-preset-default moto-align-center_mobile-v moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
															<span class="moto-widget-image-link">
															<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-social-item2.jpg" class="moto-widget-image-picture lazyload" data-id="204" title="" alt="">
															</span>
														</div>
													</div>
													<div class="moto-cell col-sm-6" data-container="container">
														<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
															<div class="moto-widget-spacer-block" style="height:20px"></div>
														</div>
														<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium" data-widget="text" data-preset="default" data-spacing="ammm" data-draggable-disabled="">
															<div class="moto-widget-text-content moto-widget-text-editable">
																<p class="moto-text_system_6">Linda Rivera</p>
																<p class="moto-text_system_6"><br></p>
																<p class="moto-text_system_12">Linda is one of those specialists in dentistry whose work cannot be overestimated. She does her best in everything concerning teeth and health</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-grid-type="sm" data-spacing="aaaa" data-draggable-disabled="">
						<div class="container-fluid">
							<div class="row">
								<div class="moto-cell col-sm-6" data-container="container">
									<div class="moto-widget moto-widget-container moto-container_content_5863314c7" data-widget="container" data-container="container" data-css-name="moto-container_content_5863314c7">
										<div class="moto-widget moto-widget-row row-gutter-0" data-widget="row">
											<div class="container-fluid">
												<div class="row">
													<div class="moto-cell col-sm-6" data-container="container">
														<div data-widget-id="wid__image__5c4c48e953435" class="moto-widget moto-widget-image moto-preset-default moto-align-center_mobile-v moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
															<span class="moto-widget-image-link">
															<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-social-item3.jpg" class="moto-widget-image-picture lazyload" data-id="205" title="" alt="">
															</span>
														</div>
													</div>
													<div class="moto-cell col-sm-6" data-container="container">
														<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
															<div class="moto-widget-spacer-block" style="height:20px"></div>
														</div>
														<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium" data-widget="text" data-preset="default" data-spacing="ammm">
															<div class="moto-widget-text-content moto-widget-text-editable">
																<p class="moto-text_system_6">George Rogers</p>
																<p class="moto-text_system_6"><br></p>
																<p class="moto-text_system_12">Joined our company very recently and he managed to earn a flawless reputation at short notice. He helps people with various disabilities to adapt</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="moto-cell col-sm-6" data-container="container">
									<div class="moto-widget moto-widget-container moto-container_content_586331538" data-widget="container" data-container="container" data-css-name="moto-container_content_586331538" data-draggable-disabled="">
										<div class="moto-widget moto-widget-row row-gutter-0" data-widget="row" data-draggable-disabled="">
											<div class="container-fluid">
												<div class="row">
													<div class="moto-cell col-sm-6" data-container="container">
														<div data-widget-id="wid__image__5c4c48e9535d6" class="moto-widget moto-widget-image moto-preset-default moto-align-center_mobile-v moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
															<span class="moto-widget-image-link">
															<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-social-item4.jpg" class="moto-widget-image-picture lazyload" data-id="206" title="" alt="">
															</span>
														</div>
													</div>
													<div class="moto-cell col-sm-6" data-container="container">
														<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
															<div class="moto-widget-spacer-block" style="height:20px"></div>
														</div>
														<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium" data-widget="text" data-preset="default" data-spacing="ammm" data-draggable-disabled="">
															<div class="moto-widget-text-content moto-widget-text-editable">
																<p class="moto-text_system_6">Jason Ramirez</p>
																<p class="moto-text_system_6"><br></p>
																<p class="moto-text_system_12">Jason Ramirez joined our agency in 2009 as a traumatologist who already has been employed as a surgeon and traumatologist at other clinics</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
						<div class="moto-widget-spacer-block" style="height:15px"></div>
					</div>
				</div>
				<div class="moto-widget moto-widget-container moto-container_content_586333db10" data-widget="container" data-container="container" data-css-name="moto-container_content_586333db10">
					<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="row" data-spacing="lala">
						<div class="container-fluid">
							<div class="row">
								<div class="moto-cell col-sm-6" data-container="container"></div>
								<div class="moto-cell col-sm-6" data-container="container">
									<div class="moto-widget moto-widget-container moto-container_content_5863342111" data-widget="container" data-container="container" data-css-name="moto-container_content_5863342111">
										<div class="moto-widget moto-widget-spacer moto-preset-default moto-visible-on_tablet moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="tablet">
											<div class="moto-widget-spacer-block" style="height:10px"></div>
										</div>
										<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-large moto-spacing-bottom-auto moto-spacing-left-large" data-widget="text" data-preset="default" data-spacing="alal">
											<div class="moto-widget-text-content moto-widget-text-editable">
												<p class="moto-text_system_5">Live-in сare</p>
												<p class="moto-text_normal"><br></p>
												<p class="moto-text_216 moto-text_normal"><span class="moto-color2_3">It enables you, or your loved one, to remain in the comfortable and familiar surroundings of your own home, supported by a fully trained live-in carer.</span></p>
											</div>
										</div>
										<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
											<div class="moto-widget-spacer-block" style="height:15px"></div>
										</div>
										<div data-widget-id="wid__button__5c4c48e95376d" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-align-left_tablet moto-align-left_mobile-v moto-align-left_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-large " data-widget="button">
											<a href="/news-info/"   data-action="blog.index" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">READ MORE</span></a>
										</div>
										<div class="moto-widget moto-widget-spacer moto-preset-default moto-visible-on_tablet moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="tablet">
											<div class="moto-widget-spacer-block" style="height:10px"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="row" data-spacing="lala">
					<div class="container-fluid">
						<div class="row">
							<div class="moto-cell col-sm-12" data-container="container">
								<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
									<div class="moto-widget-text-content moto-widget-text-editable">
										<p class="moto-text_system_5">Testimonials</p>
									</div>
								</div>
								<div class="moto-widget moto-widget-row moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="laaa">
									<div class="container-fluid">
										<div class="row">
											<div class="moto-cell col-sm-4" data-container="container">
												<div data-widget-id="wid__image__5c4c48e95390b" class="moto-widget moto-widget-image moto-preset-5 moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="image">
													<span class="moto-widget-image-link">
													<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-testimonials-item1_58739a130accc.jpg" class="moto-widget-image-picture lazyload" data-id="234" title="" alt="">
													</span>
												</div>
												<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
													<div class="moto-widget-text-content moto-widget-text-editable">
														<p class="moto-text_218" style="text-align: center;">Carol Patterson</p>
														<p class="moto-text_218" style="text-align: center;"><br></p>
														<p class="moto-text_219" style="text-align: center;">"</p>
														<p class="moto-text_system_10" style="text-align: center;">Thanks a lot for the quick response. I was really impressed, your solution is excellent!! Your competence is justified!!</p>
													</div>
												</div>
												<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
													<div class="moto-widget-spacer-block" style="height:30px"></div>
												</div>
											</div>
											<div class="moto-cell col-sm-4" data-container="container">
												<div data-widget-id="wid__image__5c4c48e953aa5" class="moto-widget moto-widget-image moto-preset-5 moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="image">
													<span class="moto-widget-image-link">
													<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-testimonials-item2_58739a12a69cb.jpg" class="moto-widget-image-picture lazyload" data-id="233" title="" alt="">
													</span>
												</div>
												<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
													<div class="moto-widget-text-content moto-widget-text-editable">
														<p class="moto-text_218" style="text-align: center;">William Jenkins</p>
														<p class="moto-text_218" style="text-align: center;"><br></p>
														<p class="moto-text_219" style="text-align: center;">"</p>
														<p class="moto-text_system_10" style="text-align: center;">I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!&nbsp;</p>
													</div>
												</div>
												<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
													<div class="moto-widget-spacer-block" style="height:30px"></div>
												</div>
											</div>
											<div class="moto-cell col-sm-4" data-container="container">
												<div data-widget-id="wid__image__5c4c48e953c40" class="moto-widget moto-widget-image moto-preset-5 moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="image">
													<span class="moto-widget-image-link">
													<img data-src="./mt-demo/mt-content/uploads/2017/01/mt-0795-home-testimonials-item3_58739a12a69be.jpg" class="moto-widget-image-picture lazyload" data-id="232" title="" alt="">
													</span>
												</div>
												<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
													<div class="moto-widget-text-content moto-widget-text-editable">
														<p class="moto-text_218" style="text-align: center;">Barbara Ward</p>
														<p class="moto-text_218" style="text-align: center;"><br></p>
														<p class="moto-text_219" style="text-align: center;">"</p>
														<p class="moto-text_system_10" style="text-align: center;">Wow, I'm so happy with your service. You managed to exceed my expectations! You guys are very efficient and I will refer more people to your company!&nbsp;<br></p>
													</div>
												</div>
												<div class="moto-widget moto-widget-spacer moto-preset-default moto-visible-on_tablet moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="tablet">
													<div class="moto-widget-spacer-block" style="height:30px"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="moto-widget moto-widget-container moto-container_content_58633be12" data-widget="container" data-container="container" data-css-name="moto-container_content_58633be12">
					<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="row" data-spacing="lala">
						<div class="container-fluid">
							<div class="row">
								<div class="moto-cell col-sm-12" data-container="container">
									<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
										<div class="moto-widget-text-content moto-widget-text-editable">
											<p class="moto-text_system_5">Care for older people&nbsp;</p>
											<p class="moto-text_normal"><br></p>
											<p class="moto-text_normal">Live-in care is an increasingly popular alternative to residential care, as it enables you to remain at home. It works because it is completely tailored around your needs and expectations.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer id="section-footer" class="footer moto-section" data-widget="section" data-container="section" data-moto-sticky="{mode:'smallHeight', direction:'bottom'}">
			<div class="moto-widget moto-widget-container moto-container_footer_58658b735" data-widget="container" data-container="container" data-css-name="moto-container_footer_58658b735" data-draggable-disabled="">
				<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-spacing="laaa" data-draggable-disabled="">
					<div class="container-fluid">
						<div class="row">
							<div class="moto-cell col-sm-3" data-container="container">
								<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
									<div class="moto-widget-text-content moto-widget-text-editable">
										<p class="moto-text_system_7">Locations</p>
										<p><br></p>
										<p class="moto-text_system_10"><span class="moto-color3_3">8901 Marmora Road </span></p>
										<p class="moto-text_system_10"><span class="moto-color3_3">Glasgow, DO4 89GR.</span><br></p>
										<p class="moto-text_system_10"><span class="moto-color3_3">Get Directions</span></p>
									</div>
								</div>
								<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
									<div class="moto-widget-spacer-block" style="height:10px"></div>
								</div>
							</div>
							<div class="moto-cell col-sm-5" data-container="container">
								<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-draggable-disabled="">
									<div class="moto-widget-text-content moto-widget-text-editable">
										<p class="moto-text_system_7">Contact us</p>
										<p><br></p>
										<p class="moto-text_system_10"><span class="moto-color3_3">Freephone: </span><a href="callto: # " target="_self" data-action="url" class="moto-link">+1 800 559 6580</a><br></p>
										<p class="moto-text_system_10"><span class="moto-color3_3">Telephone:</span> <a href="callto: # " target="_blank" data-action="url" class="moto-link">+1 959 603 6035</a><br></p>
										<p class="moto-text_system_10"><span class="moto-color3_3">FAX:</span> <a href="callto: # " target="_self" data-action="url" class="moto-link">+1 800 559 6580</a><br></p>
										<p><br></p>
										<p class="moto-text_system_10"><span class="moto-color3_3">E-mail:</span> <a href="mailto:mail@demolink.org" data-action="mail" class="moto-link">mail@demolink.org</a><br></p>
									</div>
								</div>
								<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aama" data-visible-on="mobile-v">
									<div class="moto-widget-spacer-block" style="height:10px"></div>
								</div>
							</div>
							<div class="moto-cell col-sm-4" data-container="container">
								<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default">
									<div class="moto-widget-text-content moto-widget-text-editable">
										<p class="moto-text_system_7">Newsletter signup</p>
									</div>
								</div>
								<div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
									<div class="moto-widget-spacer-block" style="height:30px"></div>
								</div>
								<div data-widget-id="wid__contact_form__5c4c48e9548f4" class="moto-widget moto-widget-contact_form moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-preset="default" data-widget="contact_form" data-spacing="aaaa">
									<div ng-controller="widget.ContactForm.Controller" ng-init="hash = '2@eyJoIjoiUnZ4S2phTVwvbnBjZXp0WmQ5OFpWSlBxTk9NVUsweFUxc085T1B4UjM2MjA9IiwiaSI6InR0NTRWNUZWUTYzZmI5Sm03WmVMeEE9PSIsInYiOiJLNzdUZjlmbFh5OXl0TWlISXlJa2FaMjVqNUhYMjJEanM4VHBReHZDVzdndmp3MG84bFJJQlBnSnQ4OVlRUkhzQU0xc0ZCdmRCNXV2Sk53SjB3RGdnZz09In0=';actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false">
										<form class="moto-widget-contact_form-form" role="form" name="contactForm" ng-submit="submit()" novalidate>
											<div ng-show="sending" class="contact-form-loading"></div>
											<div class="moto-widget-contact_form-group">
												<label for="field_email" class="moto-widget-contact_form-label">Email</label>
												<input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Email *"  ng-blur="validate('email')" required  ng-model-options="{ updateOn: 'blur' }" name="email" id="field_email" ng-model="message.email"/>
												<span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.$invalid && !contactForm.email.$pristine && !contactForm.email.emailInvalid" >Field is required</span>
												<span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.emailInvalid && !contactForm.email.$pristine" >Incorrect email</span>
											</div>
											<div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="emailSent">
												Your message was sent successfully
											</div>
											<div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError">
												Sorry, your message was not sent
											</div>
											<div class="moto-widget-contact_form-buttons">
												<div class="moto-widget moto-widget-button moto-preset-3 moto-align-left" data-preset="3" data-align="left">
													<a ng-click="submit();" class="moto-widget-button-link moto-size-medium" data-size="medium"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">Subcribe</span></a>
												</div>
												<button type="submit" class="hidden"></button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="row" data-spacing="mala" data-draggable-disabled="">
					<div class="container-fluid">
						<div class="row">
							<div class="moto-cell col-sm-12" data-container="container">
								<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-draggable-disabled="">
									<div class="moto-widget-text-content moto-widget-text-editable">
										<p class="moto-text_223"><a href="/" data-action="page" data-id="1" class="moto-link">Home Health Care Agency</a> © 2017. <a href="/privacy-policy/" data-action="page" data-id="16" class="moto-link">Privacy Policy</a><br></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div data-moto-back-to-top-button class="moto-back-to-top-button">
			<a ng-click="toTop($event)" class="moto-back-to-top-button-link">
			<span class="moto-back-to-top-button-icon fa"></span>
			</a>
		</div>
		<script src="./mt-includes/js/website.assets.min.js?_build=1545832316" type="text/javascript" data-cfasync="false"></script>
		<script type="text/javascript" data-cfasync="false">
			var websiteConfig = websiteConfig || {};
			websiteConfig.address = 'https://template59441.motopreview.com/';
			websiteConfig.addressHash = '2fca5ccfb83b9485c3b732d4b4c10e3e';
			websiteConfig.apiUrl = '/api.php';
			websiteConfig.preferredLocale = 'en_US';
			websiteConfig.preferredLanguage = websiteConfig.preferredLocale.substring(0, 2);
			        websiteConfig.back_to_top_button = {"topOffset":300,"animationTime":500,"type":"theme"};
			        websiteConfig.popup_preferences = {"loading_error_message":"The content could not be loaded."};
			websiteConfig.lazy_loading = {"enabled":true};
			websiteConfig.cookie_notification = {"enabled":false,"content":"<p class=\"moto-text_normal\">This website uses cookies to ensure you get the best experience on our website.<\/p>","content_hash":"6610aef7f7138423e25ee33c75f23279","controls":{"visible":"close,accept","accept":{"label":"Got it","preset":"default","size":"medium","cookie_lifetime":365}}};
			        angular.module('website.plugins', []);
		</script>
		<script src="./mt-includes/js/website.min.js?_build=1545832305" type="text/javascript" data-cfasync="false"></script>
		<script type="text/javascript">$.fn.motoGoogleMap.setApiKey('AIzaSyAk8PGBXexyvCl_XGQDHqTfrNhZ1zYHFTI');</script>
	</body>
</html>